# dotenv environment variables file
.env
.env.test

# Dependency directories
dist/
node_modules/
**/environment/*.environment.json
src/consumer/src/public/manifest.json
src/consumer/src/public/sw.js
src/consumer/src/public/workbox*.js
src/**/lib
src/**/.firebase
src/**/.firebaserc
src/**/firebase.json
**/firebase-debug.log
**/ui-debug.log
src/admin/build