# dotenv environment variables file
.env
.env.test

# Dependency directories
dist/
node_modules/
**/environment/*.environment.json
**/public/sw.js
**/public/workbox*.js
**/lib
**/.firebase
**/.firebaserc
**/firebase.json
**/firebase-debug.log
**/ui-debug.log
**/build