# dotenv environment variables file
.env
.env.test

# Dependency directories
dist/
node_modules/
src/common/*.properties.json
src/consumer/public/manifest.json
src/consumer/public/brand
src/consumer/public/sw.js
src/consumer/public/workbox*.js
src/consumer/next-sitemap.js
src/**/lib
src/**/.firebase